Source: com.github.danrabbit.nimbus
Section: x11
Priority: extra
Maintainer: Daniel Foré <daniel@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libgeoclue-2-dev,
               libgtk-3-dev,
               libgweather-3-dev,
               meson,
               valac
Standards-Version: 4.1.1

Package: com.github.danrabbit.nimbus
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, geoclue-2.0
Description: See outside without going there
 See the current temperature and weather conditions for your location with this minimal color-changing applet.
