[Desktop Entry]
Name=Nimbus
Comment=See outside without going there
Exec=com.github.danrabbit.nimbus
Icon=com.github.danrabbit.nimbus
Keywords=weather;temperature;
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
